In [1]:
import functions
import os
from data_collection import get_distance, address_autocomplete, get_fuel_price, load_vehicles_df, get_directions

In [2]:
get_directions(origin='1 Thorngrove Street Truganina', destination='101 Collins Street Melbourne', mode='bicycling')

{'mode': 'bicycling',
 'distance': 23.591,
 'duration_in_seconds': 4853,
 'start_address': '1 Thorngrove St, Truganina VIC 3029, Australia',
 'end_address': '101 Collins St, Melbourne VIC 3000, Australia'}

In [4]:
get_directions(origin='1 Thorngrove Street Truganina', destination='101 Collins Street Melbourne', mode='walking')

{'mode': 'walking',
 'distance': 22.574,
 'duration_in_seconds': 17050,
 'start_address': '1 Thorngrove St, Truganina VIC 3029, Australia',
 'end_address': '101 Collins St, Melbourne VIC 3000, Australia'}

In [5]:
get_directions(origin='1 Thorngrove Street Truganina', destination='101 Collins Street Melbourne', mode='transit')

{'mode': 'transit',
 'distance': 29.83,
 'duration_in_seconds': 4077,
 'start_address': '1 Thorngrove St, Truganina VIC 3029, Australia',
 'end_address': '101 Collins St, Melbourne VIC 3000, Australia'}

In [3]:
vehicles_df = load_vehicles_df()
display(vehicles_df)

/Users/vhurtado/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (69,70,71,72,73,75,78) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb,KM conversion
0,14.167143,0.0,0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,1.069
1,27.046364,0.0,0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
2,11.018889,0.0,0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
3,27.046364,0.0,0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
4,15.658421,0.0,0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45876,13.523182,0.0,0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
45877,12.935217,0.0,0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
45878,14.167143,0.0,0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
45879,14.167143,0.0,0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN
45880,16.528333,0.0,0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0,NaN

In [2]:
response = get_fuel_price()
print(response)

<Response [400]>
None

In [2]:
address_autocomplete('7 Thorngrove')

{
   "predictions" : [],
   "status" : "ZERO_RESULTS"
}

In [3]:
distance_in_Kms = get_distance(origins='1 Thorngrove Street Truganina', destinations='101 Collins Street Melbourne')
print(distance_in_Kms)

24.347